<div *ngIf="!isPageReady" class="spinnerSettings alignCenter">
  <br>
  <span class="spinner spinner-lg">
    Loading...
  </span>
</div>
<br>
<div *ngIf="isPageReady">
  <div class="form-group filter">
    <clr-icon shape="search" size="25"></clr-icon>
    <input type="text" placeholder="Filter by sasType" size="15" #filter (keyup)="onFilterInput(filter.value)" />
  </div>

  <div class="row">
    <table class="table">
      <tbody>
        <tr class="nav-link" *ngFor="let sasType of sasTypes; let i=index" (click)="goToType(sasType.ID, i); filter.value=''"
          [class.clicked]="i===selectedRow" style="cursor: pointer;">

          <td>
            <clr-tooltip>
              <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
              <clr-tooltip-content clrSize="md" *clrIfOpen>
                <span><b>Id: </b>{{sasType.ID}}; </span>
                <span><b>SubTypes: </b>{{sasType.HASSUBTYPES}}</span>
              </clr-tooltip-content>
            </clr-tooltip>
            {{sasType.DESC}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <span style="padding-left: 10px;">Sas Types: {{sasTypes.length}} of {{sasTypesAll.length}}</span>
  </div>
</div>