/* You can add global styles to this file, and also import other style files */

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.main-container .content-container .sidenav {
  overflow-y: auto;
  max-height: calc(100vh - 60px);
  width: 250px;
}

.login-sidebar-wrapper {
  z-index: 101;
}

@media (min-width: 769px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (max-width: 768px) {
  .subnav {
    overflow-y: auto;
  }

}