.tbl {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.clicked {
  background: rgb(230, 230, 230);
  font-weight: bold;
}

td:hover {
  background-color: rgb(240, 240, 240);
}

.alignCenter {
  text-align: center;
}

.spinner {
  margin-top: 2rem;
}

.filter {
  text-align: right;
  margin-right: 30px;
}

.objectTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left:35px;
}

.objectTitle h3 {
  margin-bottom: 17px;
  color: #474747;
}