@media screen and (min-width: 769px) {
  .viewType {
    display: flex;
    justify-content: center;
    top: 60px;
    z-index: 111;
    left: 250px;
  } // table view
  .tb1_ch0 {
    #divMain {
      position: fixed;
      top: 145px;
      left: 270px;
      right: 20px;
      bottom: 25px;
      overflow-y: auto;
    }
    #chart {
      display: none;
    }
  } // network view
  .tb0_ch1 {
    #divMain {
      display: none;
    }
    #chart {
      position: fixed;
      left: 255px;
      top: 145px;
      right: 5px;
      bottom: 25px;
    }
  } // table||network
  .tb0_ch0 {
    #divMain {
      position: fixed;
      top: 145px;
      left: 270px;
      right: calc(50% - 130px);
      bottom: 25px;
      overflow-y: auto;
    }
    #chart {
      position: fixed;
      left: calc(50% + 140px);
      top: 145px;
      right: 20px;
      bottom: 25px;
      border: 1px solid #ffa500;
    }
  } // table/network
  .tb1_ch1 {
    #divMain {
      position: relative;
      margin-left: -4px;
      margin-right: -4px;
      top: 25px;
      height: 50vh;
      overflow-y: auto;
    }
    #chart {
      position: fixed;
      left: 270px;
      right: 20px;
      top: calc(50vh + 160px);
      bottom: 25px;
      border: 1px solid #ffa500;
    }
  }
}

@media screen and (max-width: 768px) {
  .viewType {
    display: flex;
    justify-content: center;
    top: 60px;
    z-index: 111;
    left: 20px;
  } // table view
  .tb1_ch0 {
    #divMain {
      position: fixed;
      top: 145px;
      left: 20px;
      right: 20px;
      bottom: 25px;
      overflow-y: auto;
    }
    #chart {
      display: none;
    }
  } // network view
  .tb0_ch1 {
    #divMain {
      display: none;
    }
    #chart {
      position: fixed;
      left: 20px;
      top: 145px;
      right: 20px;
      bottom: 25px;
    }
  } // table||network
  .tb0_ch0 {
    #divMain {
      position: fixed;
      top: 145px;
      left: 20px;
      right: calc(50% - 15px);
      bottom: 25px;
      overflow-y: auto;
    }
    #chart {
      position: fixed;
      left: calc(50% + 25px);
      top: 145px;
      right: 20px;
      bottom: 25px;
      border: 1px solid #ffa500;
    }
  } // table/network
  .tb1_ch1 {
    #divMain {
      position: relative;
      margin-left: -4px;
      margin-right: -4px;
      top: 25px;
      max-height: 50vh;
      overflow-y: auto;
    }
    #chart {
      position: fixed;
      left: 20px;
      right: 20px;
      top: calc(50vh + 160px);
      bottom: 25px;
      border: 1px solid #ffa500;
    }
  }
}

.tbl {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.clicked {
  background: rgb(230, 230, 230);
  font-weight: bold;
}

td:hover {
  background-color: rgb(240, 240, 240);
}

.alignCenter {
  text-align: center;
}

.spinner {
  margin-top: 2rem;
}

.assocSpaces {
  margin-top: 0px;
}

.tableName {
  text-align: left;
  margin-left: 40px;
}

.assoc {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.headerName {
  text-align: left;
  font-size: 26px;
  text-transform: lowercase;
  font-weight: bolder;
  color: #cd5c5c;
  letter-spacing: -2px;
}

.headerType {
  text-align: left;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #cd5c5c;
  padding-left: 20px;
}

.headerLink {
  text-align: right;
  padding-right: 10px;
  font-weight: lighter;
  font-size: 14px;
  color: #cd5c5c;
}

.headerStyle {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}