@media screen and (min-width: 769px) {
  .viewType {
    display: flex;
    justify-content: center;
    top: 60px;
    left: 5px;
    z-index: 111;
  } // table view
  .tb1_ch0 {
    #divMain {
      position: relative;
      height: calc(100vh - 200px);
      top: 25px;
      left: 5px;
      right: 5px;
      bottom: 25px;
      overflow-y: auto;
    }
    #chart {
      display: none;
    }
  } // network view
  .tb0_ch1 {
    #divMain {
      display: none;
    }
    #chart {
      position: relative;
      width: calc(100% - 5px);
      height: calc(100vh - 200px);
      top: 25px;
      left: 5px;
      right: 5px;
      bottom: 25px;
      border: 1px solid #cccccc;
      border-radius: 3px;
    }
  } // table||network
  .tb0_ch0 {
    #divMain {
      display: inline-block;
      position: relative;
      width: calc( 50% - 5px);
      height: calc(100vh - 200px);
      top: 25px;
      left: 5px;
      bottom: 25px;
      overflow-y: auto;
    }
    #chart {
      display: inline-block;
      position: relative;
      width: calc(50% - 10px);
      height: calc(100vh - 200px);
      top: 24px;
      left: 10px;
      right: 5px;
      bottom: 25px;
      border: 1px solid #cccccc;
      border-radius: 3px;
    }
  } // table/network
  .tb1_ch1 {
    #divMain {
      position: relative;
      width: calc(100% - 10px);
      height: calc(50vh - 100px);
      margin-left: 5px;
      margin-right: 5px;
      top: 25px;
      overflow-y: auto;
    }
    #chart {
      position: relative;
      width: calc(100% - 5px);
      height: calc(50vh - 120px);
      top: 46px;
      left: 5px;
      right: 5px;
      bottom: 25px;
      border: 1px solid #cccccc;
      border-radius: 3px;
    }
  }
}

@media screen and (max-width: 768px) {
  .viewType {
    display: flex;
    justify-content: center;
    top: 60px;
    left: 20px;
    z-index: 111;
  } // table view
  .tb1_ch0 {
    #divMain {
      position: fixed;
      top: 145px;
      left: 20px;
      right: 20px;
      bottom: 25px;
      overflow-y: auto;
    }
    #chart {
      display: none;
    }
  } // network view
  .tb0_ch1 {
    #divMain {
      display: none;
    }
    #chart {
      position: fixed;
      top: 145px;
      left: 20px;
      right: 20px;
      bottom: 25px;
      border: 1px solid #cccccc;
      border-radius: 3px;
    }
  } // table||network
  .tb0_ch0 {
    #divMain {
      position: fixed;
      top: 145px;
      left: 20px;
      right: calc(50% - 15px);
      bottom: 25px;
      overflow-y: auto;
    }
    #chart {
      position: fixed;
      top: 145px;
      left: calc(50% + 25px);
      right: 20px;
      bottom: 25px;
      border: 1px solid #cccccc;
      border-radius: 3px;
    }
  } // table/network
  .tb1_ch1 {
    #divMain {
      position: relative;
      margin-left: -4px;
      margin-right: -4px;
      top: 25px;
      max-height: 50vh;
      overflow-y: auto;
    }
    #chart {
      position: fixed;
      top: calc(50vh + 160px);
      left: 20px;
      right: 20px;
      bottom: 25px;
      border: 1px solid #cccccc;
      border-radius: 3px;
    }
  }
}

.svg {
  overflow: auto;
}

.tbl {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.clicked {
  background: rgb(230, 230, 230);
  font-weight: bold;
}

td:hover {
  background-color: rgb(240, 240, 240);
}

.alignCenter {
  text-align: center;
}

.spinner {
  margin-top: 2rem;
}

.assocTable {
  margin: 0px;
  text-align: center;
  padding-top: 8px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

.tableName {
  text-align: left;
  margin-left: 40px;
}

.assocDiv {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.headerName {
  text-align: left;
  font-size: 26px;
  text-transform: lowercase;
  font-weight: bolder;
  color: #fff;
  letter-spacing: -2px;
}

.headerType {
  text-align: left;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  padding-left: 20px;
}

.headerLink {
  text-align: right;
  padding-right: 10px;
  font-weight: lighter;
  font-size: 14px;
  color: #fff;
}

.headerStyle {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.stack-view {
  border: 1px solid #cccccc;
  border: radius 5px;
  text-align: center;
}

.stack-block-label {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #cccccc;
  text-align: left;
}

.stack-block-content {
  width: 100%;
  padding: 0px;
}