<div class={{viewType}} id="container">
  <div>
    <clr-tabs>
      <clr-tab>
        <button id="firstTab" clrTabLink (click)="setViewType('tb1_ch0')">Table View</button>
        <clr-tab-content *clrIfActive> </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="setViewType('tb0_ch1'); deactivateTableViewTab()">Network View</button>
        <clr-tab-content *clrIfActive> </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="setViewType('tb0_ch0'); deactivateTableViewTab()">Table || Network
        </button>
        <clr-tab-content *clrIfActive> </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="setViewType('tb1_ch1'); deactivateTableViewTab()">Table / Network</button>
        <clr-tab-content *clrIfActive> </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div *ngIf="isPageReady" id="divMain">
    &nbsp;
    <div id="ell" *ngFor="let historyItem of historyArray; let i = index;">

      <!-- associationsDivTable_and_arrows-->
      <div *ngIf="historyItem.ASC" class="assocContainer">
        <div class="assocDiv">

          <div style="text-align: center; transform: rotate(180deg);margin-left: 47px;">
            <span style="border-left: 1px solid #676767; height: 2rem;"></span>
          </div>

          <div class="assocTable" [style.background-color]="historyItem.ASCCLR" [style.color]="fontAscColor">
            <b>{{historyItem.ASC[0]}}{{historyItem.ASC[1]}}</b>
          </div>

          <div style="text-align: center; transform: rotate(180deg);margin-left: 47px;">
            <span style="border-left: 1px solid #676767; height: 2rem;"></span>
          </div>

        </div>
        <span style="margin-left: 10px;">
          <b>{{historyItem.ASC}}</b>
        </span>
      </div>

      <div style="padding-right:10px;">

        <!-- stackView -->
        <clr-stack-view>
          <clr-stack-block [clrSbExpanded]="historyItem.EXPANDED">

            <!-- stackView_header -->
            <div class="headerStyle stack-block-label">

              <span class="headerAvatar" [style.background-color]="historyItem.COLOR" [style.color]="fontHeaderColor">{{historyItem.TYPE[0]}}</span>
              <div class="headerRow">
                <div class="headerColumn">
                  <span class="headerName">{{historyItem.NAME}}</span>
                  <span>
                    <a href="#{{historyItem.URL}}" target="_blank" class="headerLink">{{historyItem.OBJECT}}</a>
                  </span>
                </div>
                <div class="headerType">
                  <span>
                    <a href="#{{historyItem.typeURL}}" target="_blank" class="headerLink">{{historyItem.TYPE}}</a>
                  </span>
                </div>
              </div>
            </div>

            <!-- stackView_Body -->
            <clr-stack-block>
              <clr-tabs>

                <!-- tab-association -->
                <clr-tab>
                  <button style="margin-left: 10px" clrTabLink>Associations</button>
                  <clr-tab-content *clrIfActive="true">
                    <clr-stack-content>
                      <div class="tbl">
                        <clr-datagrid>
                          <clr-dg-column [clrDgField]="'ASSOC'">ASSOC</clr-dg-column>
                          <clr-dg-column [clrDgField]="'ASSOCURI'">ASSOCURI</clr-dg-column>
                          <clr-dg-column [clrDgField]="'NAME'">NAME</clr-dg-column>

                          <clr-dg-row *clrDgItems="let assocData of detailArray[i].ASSOC; let selectedAssoc=index;" (click)="
                                removeHistoryAfter(i);                         
                                updateProperties(
                                  assocData.ASSOC,
                                  selectedAssoc,
                                  detailArray[i].ASSOC.length,
                                  findParentInChart(assocData.genID)
                                  );
                                disableClick(assocData.genID);
                                goToDetails(assocData.ASSOCURI);
                              " style="cursor: pointer;">

                            <clr-dg-cell>{{assocData.ASSOC}}</clr-dg-cell>
                            <clr-dg-cell>{{assocData.ASSOCURI}}</clr-dg-cell>
                            <clr-dg-cell>{{assocData.NAME}}</clr-dg-cell>

                          </clr-dg-row>
                          <clr-dg-footer>
                            <clr-dg-pagination #pagination1 [clrDgPageSize]="15">
                              {{pagination1.firstItem + 1}} - {{pagination1.lastItem + 1}} of {{pagination1.totalItems}} Associations
                            </clr-dg-pagination>
                          </clr-dg-footer>
                        </clr-datagrid>
                      </div>
                    </clr-stack-content>
                  </clr-tab-content>
                </clr-tab>

                <!-- tab-attributes_and_properties -->
                <clr-tab>
                  <button clrTabLink>Attributes and Properties</button>
                  <clr-tab-content *clrIfActive>

                    <clr-stack-content>
                      <div class="tbl">
                        <clr-datagrid>
                          <clr-dg-column [clrDgField]="'TYPE'">TYPE</clr-dg-column>
                          <clr-dg-column [clrDgField]="'NAME'">NAME</clr-dg-column>
                          <clr-dg-column [clrDgField]="'VALUE'">VALUE</clr-dg-column>

                          <clr-dg-row *clrDgItems="let atpr of detailArray[i].ATTRPROP">
                            <clr-dg-cell>{{atpr.TYPE}}</clr-dg-cell>
                            <clr-dg-cell>{{atpr.NAME}}</clr-dg-cell>
                            <clr-dg-cell>{{atpr.VALUE}}</clr-dg-cell>
                          </clr-dg-row>
                          <clr-dg-footer>
                            <clr-dg-pagination #pagination2 [clrDgPageSize]="15">
                              {{pagination2.firstItem + 1}} - {{pagination2.lastItem + 1}} of {{pagination2.totalItems}} Attributes
                            </clr-dg-pagination>
                          </clr-dg-footer>
                        </clr-datagrid>
                      </div>
                    </clr-stack-content>
                  </clr-tab-content>
                </clr-tab>
              </clr-tabs>

            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-view>
      </div>
    </div>
  </div>
  <clr-modal [clrModalSize]="'sm'" [(clrModalOpen)]="displayAlert">
    <p class="modal-title">Showing 15 of {{subAssocNumber}} nodes</p>
    <div class="modal-body">
      <span (click)="setViewType('tb1_ch0'); activateTableViewTab(); displayAlert=false" style="cursor:pointer">
        Click here to open associations in Table View</span>
    </div>
  </clr-modal>
  <svg id="chart"></svg>
</div> 